{% extends 'base.html' %}

{% block content %}
<p>Move the mouse over the table rows to see the effect.</p>

<table>
  <tr>
    <th></th>
    <th>First Name</th>
    <th>Home</th>
    <th>Points</th>
    <th>Points</th>
  </tr>
  {% for person in person_list %}    
      <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ person.full_name }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.position }}</td>
          <td>{{ person.mobile }}</td>
      </tr>    
  {% endfor %}
</table>    
{% endblock %}
