{% extends 'base.html' %}

{% block content %}
<p>Move the mouse over the table rows to see the effect.</p>

<table>
  <tr>
    <th>ลำดับ</th>
    <th>ยศ ชื่อ นามสกุล</th>
    <th>e-mail</th>
    <th>ตำแหน่ง</th>
    <th>มือถือ</th>
    <th>สถานะ</th>
  </tr>
  {% for person in person_list %}
    {% if person.status != "" %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ person.full_name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.position }}</td>
            <td>{{ person.mobile }}</td>
            <td>{{ person.status }}</td>
        </tr>
    {% endif %}
  {% endfor %}
</table>    
{% endblock %}
